
    #Buttons{
        display: flex;
        width: 150px;
        height: 100%;
        font: 1.2em sans-serif;
        background-color: #f3f3f3;
        color: #000;
        border-radius: 5px;
        justify-content: center;
        align-self: center;
        align-items: center;
        box-shadow: 1px 0px 2px 0px  #000;
        cursor: pointer;
    }

