.all_div{
    display: flex;
    flex-direction: column;

    input{
        width: 250px;
        height: 30px;
        border: 2px #2581C4 solid;
        border-radius: 1px;
    }

    .example{
        color: #bebebead;
        font: 0.7em sans-serif;
    }
}